---
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Dashboard">
  <PageHeader title="Dashboard" iconName="home" />
  <div class="p-6">
    <h1>Main</h1>
  </div>
</Layout>
