---
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Inventario">
  <PageHeader title="Inventario" iconName="check-list" />
  <div class="p-6">a</div>
</Layout>
