---
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Ventas">
  <PageHeader title="Ventas" iconName="line-md--briefcase" />

  <div class="p-6">a</div>
</Layout>
